- if (typeof currentUser !== 'undefined')
  li
    p.navbar-text= t('users.welcome') + ', '
      | #{currentUser.name}
  li
    a(href="#/logout")= t('users.signout')
- else
  li
    a(href="#/signup")= t('users.signup')
  li
    a(href="#/login")= t('users.signin')
